.form-gap {
    padding-top: 70px;
}

/**** responsive ****/
@media (max-width: 800px){
    #footer{
        margin-top:10rem;
    }
}


@media (max-width: 600px){
    #footer{
        padding-top:10rem;
    }

}
